.fade-in {
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-play-state: running;
    animation-play-state: running;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.fade-out {
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-play-state: running;
    animation-play-state: running;
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

.elastic-show {
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-play-state: running;
    animation-play-state: running;
    -webkit-animation-name: elasticShow;
    animation-name: elasticShow;
}

.elastic-hide {
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-play-state: running;
    animation-play-state: running;
    -webkit-animation-name: elasticHide;
    animation-name: elasticHide;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes elasticShow {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    50% {
        opacity: 1;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes elasticShow {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    50% {
        opacity: 1;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes elasticHide {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        opacity: 1;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@keyframes elasticHide {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        opacity: 1;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@-webkit-keyframes shake {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: .7;
    }
    10%, 90% {
        -webkit-transform: translate3d(0, -3px, 0);
        transform: translate3d(0, -3px, 0);
        opacity: .7;
    }
    20%, 80% {
        -webkit-transform: translate3d(0, -3px, 0);
        transform: translate3d(0, -3px, 0);
        opacity: .7;
    }
    30%, 50%, 70% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
        opacity: 1;
    }
    40%, 60% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
        opacity: .6;
    }
}

@keyframes shake {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: .7;
    }
    10%, 90% {
        -webkit-transform: translate3d(0, -3px, 0);
        transform: translate3d(0, -3px, 0);
        opacity: .7;
    }
    20%, 80% {
        -webkit-transform: translate3d(0, -3px, 0);
        transform: translate3d(0, -3px, 0);
        opacity: .7;
    }
    30%, 50%, 70% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
        opacity: 1;
    }
    40%, 60% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
        opacity: .6;
    }
}