.left-side {
    width: 260px;
    -webkit-transition: .3s ease;
    transition: .3s ease;
}

.right-side {
    width: 680px;
}

.float-side {
    display: block;
}

.bookmark-item {
    display: flex;
    align-items: center;
    height: 52px;
    padding-left: 16px;
    -webkit-transition: .3s;
    transition: .3s;
}

.bookmark-item.hidden {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
}

.bookmark-item img {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    margin-right: 16px;
}

.bookmark-item span {
    flex-grow: 1;
    line-height: 48px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.bookmark-item .dropdown-content {
    flex-shrink: 0;
    width: 48px;
    height: 100%;
}

.bookmark-item .dropdown-content .dropdown-trigger {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 16px;
    cursor: pointer;
}

.bookmark-item .dropdown-content .dropdown {
    margin-right: 16px;
}

.bookmark-category-container {
    height: 30px;
    margin: 20px 20px;
}

.bookmark-category-item {
    width: 60px;
    height: 100%;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.bookmark-category-item-active {
    color: #2979ff;
}

.bookmark-form {
    display: none;
    padding: 20px;
}

.layui-layer {
    box-shadow: none!important;
}

.favicon-control {
    overflow: hidden;
}

.favicon-control button {
    display: inline-block;
    margin-top: 15px;
    padding: 1px 6px;
}

#upload-favicon {
    margin-top: 15px;
}

.favicon-display {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-top: 15px;
    margin-right: 13px;
}

.shortcut {
    padding: 8px 15px;
}

.shortcut .dropdown-trigger {
    display: flex;
    align-items: center;
}

.shortcut .dropdown-trigger img {
    width: 36px;
    height: 36px;
    padding: 10px;
    background: #f8f9fa;
}

.shortcut .dropdown-trigger span {
    flex-grow: 1;
    display: block;
    margin-left: 15px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media screen and (max-width: 954px) {
    .right-side {
        display: block;
    }

    .left-side {
        width: 66px;
        padding: 0;
        border-right: 1px solid #eee;
    }
}