body {
    background-color: #f8f9fa;
}

.header {
    box-shadow: none;
    background-color: #3367d6;
}

.main {
    width: 900px;
    margin: 0 auto;
    background-color: #fff;
}

.logo {
    color: #fff;
}

.login-button i {
    color: #fff;
}

.menu-button span {
    background: #fff;
}

.menu-button:before {
    background: #fff;
}

.menu-button:after {
    background: #fff;
}

.bookmark-list {

}

.bookmark-list .item {
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 16px;
    -webkit-transition: .3s;
    transition: .3s;
}

.bookmark-list .item.hidden {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
}

.bookmark-list .item img {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    margin-right: 16px;
}

.bookmark-list .item span {
    flex-grow: 1;
    line-height: 48px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.bookmark-list .item .dropdown-content {
    flex-shrink: 0;
    width: 48px;
    height: 100%;
}

.bookmark-list .item .dropdown-content .dropdown-trigger {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 16px;
    cursor: pointer;
}

.bookmark-list .item .dropdown-content .dropdown {
    margin-right: 16px;
}

.bookmark-category-container {
    height: 30px;
    margin: 20px 20px;
}

.bookmark-category-item {
    width: 140px;
    height: 100%;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

.bookmark-category-item::before {
    content: '\e600';
    position: absolute;
    left: 10%;
    top: 2px;
    font-family: "iconfont", sans-serif;
    font-weight: bold;
    opacity: 0;
    -webkit-transition: .3s;
    transition: .3s;
}

.bookmark-category-item::after {
    content: '\e60d';
    position: absolute;
    right: 10%;
    top: 2px;
    font-family: "iconfont", sans-serif;
    font-weight: bold;
    opacity: 0;
    -webkit-transition: .3s;
    transition: .3s;
}

.bookmark-category-item-active::before {
    left: 15%;
    opacity: 1;
    transform: scale(1);
}

.bookmark-category-item-active::after {
    right: 15%;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.bookmark-form {
    display: none;
    padding: 20px;
}

.layui-layer {
    box-shadow: none!important;
}

.favicon-control {
    overflow: hidden;
}

.favicon-control button {
    display: inline-block;
    margin-top: 15px;
    padding: 1px 6px;
}

#upload-favicon {
    margin-top: 15px;
}

.favicon-display {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-top: 15px;
    margin-right: 13px;
}

@media screen and (max-width: 900px) {
    .main {
        width: 100%;
    }

    .bookmark-category-item {
        font-size: 16px;
    }
}