@font-face {
    font-family: 'iconfont';  /* project id 1286797 */
    src: url('//at.alicdn.com/t/font_1286797_yc131ey0fk8.eot');
    src: url('//at.alicdn.com/t/font_1286797_yc131ey0fk8.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1286797_yc131ey0fk8.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1286797_yc131ey0fk8.woff') format('woff'),
    url('//at.alicdn.com/t/font_1286797_yc131ey0fk8.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1286797_yc131ey0fk8.svg#iconfont') format('svg');
}

.iconfont{
    font-family: "iconfont", sans-serif;
    font-size: 14px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;
    -moz-osx-font-smoothing: grayscale;
}

.google-front {
    font-family: 'ZCOOL XiaoWei', Helvetica Neue, Helvetica, PingFang SC, Tahoma, Arial, sans-serif;
}

::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    height: 6px;
    border-radius: 7px;
    border: 4px solid transparent;
    background-color: #ddd;
    background-clip: padding-box;
}

* {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
}

html {
    font-size: 20px;
}

p {
    margin: 0;
    padding: 1em 0;
}

body {
    margin: 0;
    color: #304455;
    font: 14px Helvetica Neue, Helvetica, PingFang SC, Tahoma, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fff;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,0.25);
    z-index: 1000;
}

.header-space {
    height: 60px;
}

.header-menu {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
}

.header-menu .header-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 100%;
}

.login-button i {
    color: #5f656f;
    font-size: 1.6rem;
    cursor: pointer;
}

.menu-button {
    position: relative;
    width: 1.5rem;
    height: 1.2rem;
    padding: 0;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
}

.menu-button:after, .menu-button:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    pointer-events: none;
    -webkit-transition: .25s;
    transition: .25s;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.menu-button:before {
    background: #5f656f;
    -webkit-transform: translate3d(0,-.5rem,0) scaleX(.8);
    transform: translate3d(0,-.5rem,0) scaleX(.8);
}

.menu-button-open:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.menu-button:after {
    background: #5f656f;
    -webkit-transform: translate3d(0,.5rem,0) scaleX(.8);
    transform: translate3d(0,.5rem,0) scaleX(.8);
}

.menu-button-open:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.menu-button span {
    position: absolute;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 2px;
    text-indent: 200%;
    -webkit-transition: opacity .25s;
    transition: opacity .25s;
    background: #5f656f;
}

.menu-button-open span {
    opacity: 0;
}

.logo {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    font-size: 1.2rem;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.dropdown-content {
    position: relative;
    overflow: hidden;
}

.dropdown-trigger {
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
    outline: none;
    background: none;
}

.dropdown {
    position: absolute;
    visibility: hidden;
    margin: 5px 0;
    padding: 5px 0;
    width: 140px;
    border-radius: 4px;
    box-shadow: 0 1px 6px rgba(0,0,0,.2);
    background-color: #fff;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    opacity: 1;
    z-index: 1010;
}

.dropdown .dropdown-menu {
    box-sizing: border-box;
}

.dropdown .dropdown-menu .dropdown-item {
    margin: 0;
    padding: 7px 16px;
    color: #515a6e;
    white-space: nowrap;
    cursor: pointer;
    -webkit-transition: background .2s ease-in-out;
    transition: background .2s ease-in-out;
}

.dropdown-item:focus, .dropdown-item:hover {
    background: #f3f3f3;
}

.dropdown.hidden {
    opacity: 0;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    box-shadow: 0 0 2px rgba(0,0,0,0.25);
    background: #fff;
    -webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0, 1);
    transition: all 0.4s cubic-bezier(0.4, 0, 0, 1);
    -webkit-transform: translate(-110%, 0);
    transform: translate(-110%, 0);
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    z-index: 1020;
}

.sidebar-open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.sidebar-inner {
    width: 14rem;
    padding: 50px 10px 20px 10px;
}

.main {
    padding-top: 60px;
}

@media screen and (max-width: 900px) {
    html {
        font-size: 16px;
    }

    .header {
        height: 50px;
    }

    .header-space {
        height: 50px;
    }

    .main {
        padding-top: 50px;
    }
}