.modal-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    z-index: 10010;
}

.modal-container.show {
    opacity: 1;
    visibility: visible;
}

.modal-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .7;
    background: rgba(255, 255, 255, .6);
}

.modal-inner {
    position: relative;
    top: 50px;
    width: 450px;
    margin: 0 auto;
    opacity: 0;
    transform: scale(.9);
    transition: .3s;
}

.modal-container.show .modal-inner {
    opacity: 1;
    transform: scale(1);
}

.modal-content {
    position: relative;
    margin: 12px 25px;
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #e8eaec;
}

.modal-close {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 9px;
    color: #999;
    font-size: 12px;
    cursor: pointer;
    z-index: 1;
}

.modal-header {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    padding: 14px 16px;
    border-bottom: 1px solid #e8eaec;
}

.modal-body {
    padding: 16px;
}

.modal-footer {
    display: none;
    padding: 12px 18px;
    text-align: right;
    border-top: 1px solid #e8eaec;
}

.modal-btn {
    display: inline-block;
    padding: 0 15px;
    color: #fff;
    line-height: 32px;
    background: #2d8cf0;
    border-radius: 4px;
    cursor: pointer;
}

@media screen and (max-width: 454px) {
    .modal-inner {
        width: 100%;
    }
}