.notice {
    position: fixed;
    top: 24px;
    right: 0;
    width: 300px;
    z-index: 1250;
}

.notice-notice {
    position: relative;
    height: 75px;
    margin-bottom: 10px;
}

.notice-notice-before {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #1E9fff;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: .6s width ease, .6s .6s transform ease;
    transition: .6s width ease, .6s .6s transform ease;
}

.notice-notice-content {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 16px;
    color: #fff;
    background: #23262e;
    border-left: 4px solid #1E9fff;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0s .6s;
    transition: 0s .6s;
}

.notice-notice-content-show {
    opacity: 1;
    visibility: visible;
}

.notice-notice-before-show {
    width: 0;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: .6s transform ease, .6s .6s width ease;
    transition: .6s transform ease, .6s .6s width ease;
}