.shortcut-container {
    height: 160px;
    padding: 20px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.shortcut {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 120px;
    border-right: 1px solid #eee;
    overflow: hidden;
    opacity: 1;
}

.shortcut:last-child {
    border: none;
}

.shortcut .favicon-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: no-repeat center;
    background-size: cover;
    opacity: .6;
    z-index: -10;
}

.shortcut .favicon-png {
    width: 36px;
    height: 36px;
    padding: 10px;
    background: #f8f9fa;
}

.shortcut span {
    display: block;
    width: 116px;
    margin-top: 12px;
    font-size: 18px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.shortcut:hover .dropdown-content {
    opacity: 1;
}

.shortcut .dropdown-content {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 32px;
    height: 50px;
    opacity: 0;
    -webkit-transition: .3s;
    transition: .3s;
    z-index: 10;
}

.shortcut .dropdown-content .dropdown-trigger {
    color: #fff;
    text-shadow: rgba(0, 0, 0, .3) 1px 1px 2px;
}

@media screen and (max-width: 900px) {
    .shortcut-container {
        height: 80px;
    }

    .shortcut {
        width: 80px;
        height: 80px;
    }

    .shortcut .favicon-png {
        width: 24px;
        height: 24px;
    }

    .shortcut span {
        margin-top: 6px;
        width: 66px;
        font-size: 14px;
    }
}