<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Anya'书签</title>
    <meta name="renderer" content="webkit">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="/css/swiper.min.css">
    <link rel="stylesheet" href="/layui-v2.5.4/css/layui.css">
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" th:href="@{/css/nvi-notice.css}"/>
    <link rel="stylesheet" th:href="@{/css/shortcut.css}"/>
    <link rel="stylesheet" th:href="@{/css/bookmark.css}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei&display=swap">
</head>
<body>
<div class="header">
    <ul class="header-menu">
        <li th:if="${user != null}" class="header-item">
            <button class="menu-button"><span>Menu</span></button>
        </li>
        <li th:if="${user == null}" class="header-item dropdown-content">
            <button class="login-button dropdown-trigger"><i class="iconfont">&#xe622;</i></button>
            <div class="dropdown hidden">
                <ul class="dropdown-menu">
                    <li id="login" class="dropdown-item">登录</li>
                    <li  class="dropdown-item">注册</li>
                </ul>
            </div>
        </li>
    </ul>
    <span class="logo google-front">Anya'书签</span>
</div>
<div class="sidebar">
    <div class="sidebar-inner">
        <div class="test" style="text-align: center;">
            测试书签
        </div>
    </div>
</div>
<div class="main">
    <div class="shortcut-container swiper-container">
        <div class="swiper-wrapper">
            <div th:each="s : ${bookmarkResult.shortcutList}" class="swiper-slide shortcut">
                <div class="favicon-blur" th:style="'background-image:url(' + ${s.faviconBlurUrl} + ');'"></div>
                <img class="favicon-png" th:src="${s.faviconUrl}">
                <span class="google-front" th:text="${s.title}"></span>
            </div>
        </div>
    </div>
    <div class="bookmark-category-container swiper-container">
        <div class="swiper-wrapper">
            <div th:each="b,i : ${bookmarkResult.bookmarkCategoryList}" th:class="'swiper-slide bookmark-category-item google-front' + ${i.index == 0 ? ' bookmark-category-item-active' : ''}" th:text="${b.name}"></div>
        </div>
    </div>
    <div class="bookmark-list">
        <div class="item">
            <div class="icon">
                <img class="favicon-png" src="/upload/favicon/767db549cde942ffb49470c82d9d3e3f-favicon.png">
            </div>
            <div class="t">tring与char*互转、ANSI 和 UNICODE 编码及_T和L宏定义的介绍</div>
        </div>
        <div class="item">
            <div class="icon">
                <img class="favicon-png" src="/upload/favicon/002904c733e44e6787482eb1c4d006bd-favicon.png">
            </div>
            <div class="t">IntelliJ IDEA 下载安装以及破解</div>
        </div>
        <div class="item">
            <div class="icon">
                <img class="favicon-png" src="/upload/favicon/97715ae69bfe46188a825b201e40d129-favicon.png">
            </div>
            <div class="t">Spring Boot(四)：Thymeleaf 使用详解 - 纯洁的微笑 - 博客园</div>
        </div>
    </div>
</div>

<form class="bookmark-form layui-form layui-form-pane" action="">
    <div class="layui-form-item">
        <label class="layui-form-label">编号</label>
        <div class="layui-input-block">
            <input type="text" name="id" value="0" readonly class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">标题</label>
        <div class="layui-input-block">
            <input type="text" name="title" value="1" required lay-verify="required" autocomplete="off" class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">描述</label>
        <div class="layui-input-block">
            <input type="text" name="description" autocomplete="off" class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">路径</label>
        <div class="layui-input-block">
            <input type="text" name="url" value="http://" required  lay-verify="required" class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">基础路径</label>
        <div class="layui-input-block">
            <input type="text" name="baseUrl" value="http://" required  lay-verify="required" class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">图标路径</label>
        <div class="layui-input-block">
            <input type="text" name="faviconUrl" value="http://" readonly class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">模糊图标</label>
        <div class="layui-input-block">
            <input type="text" name="faviconBlurUrl" value="http://" readonly class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">图标原路径</label>
        <div class="layui-input-block">
            <input type="text" name="faviconOriginalUrl" value="http://" readonly class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">访问数</label>
        <div class="layui-input-block">
            <input type="text" name="visits" value="10" readonly class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">选择框</label>
        <div class="layui-input-block">
            <select name="city" lay-verify="required">
                <option value=""></option>
                <option value="0">北京</option>
                <option value="1">上海</option>
                <option value="2">广州</option>
                <option value="3">深圳</option>
                <option value="4">杭州</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">复选框</label>
        <div class="layui-input-block">
            <input type="checkbox" name="like[写作]" title="写作"/>
            <input type="checkbox" name="like[阅读]" title="阅读" checked/>
            <input type="checkbox" name="like[发呆]" title="发呆"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">开关</label>
        <div class="layui-input-block">
            <input type="checkbox" value="1" name="switch" lay-skin="switch"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">单选框</label>
        <div class="layui-input-block">
            <input type="radio" name="sex" value="男" title="男"/>
            <input type="radio" name="sex" value="女" title="女" checked/>
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">文本域</label>
        <div class="layui-input-block">
            <textarea name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<script src="https://cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/fastclick/1.0.6/fastclick.js"></script>
<script src="/js/swiper.min.js"></script>
<script src="/layui-v2.5.4/layui.js"></script>
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/bookmark.js}"></script>
</body>
</html>