<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Anya'书签</title>
    <meta name="renderer" content="webkit">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="/css/swiper.min.css">
    <link rel="stylesheet" href="/layui-v2.5.4/css/layui.css">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/nvi-notice.css}">
    <link rel="stylesheet" th:href="@{/css/ivu-message.css}">
    <link rel="stylesheet" th:href="@{/css/shortcut.css}">
    <link rel="stylesheet" th:href="@{/css/bookmark.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei&display=swap&subset=chinese-simplified">
</head>
<body>
<div class="header">
    <ul class="header-menu">
        <li th:if="${user != null}" class="header-item">
            <button class="menu-button"><span>Menu</span></button>
        </li>
        <li th:if="${user == null}" class="header-item dropdown-content">
            <button class="login-button dropdown-trigger"><i class="iconfont">&#xe622;</i></button>
            <div class="dropdown hidden fixed">
                <ul class="dropdown-menu">
                    <li id="login" class="dropdown-item">登录</li>
                    <li class="dropdown-item">注册</li>
                </ul>
            </div>
        </li>
    </ul>
    <span class="logo google-front">Anya'书签</span>
</div>
<div class="sidebar">
    <div class="sidebar-inner">
        <div class="addBookmark" style="text-align: center;">
            添加书签
        </div>
    </div>
</div>
<div class="main">
    <div class="bookmark-category-container swiper-container">
        <div class="swiper-wrapper">
            <div th:each="b,i : ${bookmarkResult.bookmarkCategories}" th:class="'swiper-slide bookmark-category-item' + ${i.index == 0 ? ' bookmark-category-item-active' : ''}" th:text="${b.name}" th:data-cate-id="${b.bookmarkCategoryId}"></div>
        </div>
    </div>
    <div class="shortcut-container swiper-container">
        <div class="swiper-wrapper">
            <div th:each="s : ${bookmarkResult.shortcuts}" class="swiper-slide shortcut" th:data-id="${s.bookmarkId}" th:data-cate-id="${s.bookmarkCategoryId}">
<!--                <div class="favicon-blur" th:style="'background-image:url(' + ${s.favicon.faviconBlurUrl} + ');'"></div>-->
                <img class="favicon-png" th:src="${s.favicon.faviconUrl}">
                <span class="google-front" th:text="${s.title}"></span>
                <div class="dropdown-content">
                    <button class="dropdown-trigger"><i class="iconfont">&#xe619;</i></button>
                    <div class="dropdown hidden">
                        <ul class="dropdown-menu" th:data-id="${s.bookmarkId}" th:data-url="${s.url}">
                            <li class="dropdown-item open-blank-button">新窗口打开</li>
                            <li class="dropdown-item open-self-button">当前页打开</li>
                            <li class="dropdown-item info-button">信息</li>
                            <li class="dropdown-item delete-shortcut-button">删除</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bookmark-list">
        <div th:each="b : ${bookmarkResult.bookmarks}" class="item" th:id="'bookmark-' + ${b.bookmarkId}">
            <img th:src="${b.favicon.faviconUrl}">
            <span th:text="${b.title}"></span>
            <div class="dropdown-content">
                <button class="dropdown-trigger"><i class="iconfont">&#xe619;</i></button>
                <div class="dropdown hidden">
                    <ul class="dropdown-menu" th:data-id="${b.bookmarkId}" th:data-url="${b.url}">
                        <li class="dropdown-item open-blank-button">新窗口打开</li>
                        <li class="dropdown-item open-self-button">当前页打开</li>
                        <li class="dropdown-item info-button">信息</li>
                        <li class="dropdown-item delete-bookmark-button">删除</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<form class="bookmark-form layui-form layui-form-pane" action="">
    <div class="layui-form-item">
        <label class="layui-form-label">编号</label>
        <div class="layui-input-block">
            <input type="text" name="bookmarkId" value="0" readonly class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">标题</label>
        <div class="layui-input-block">
            <input type="text" name="title" value="" class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">描述</label>
        <div class="layui-input-block">
            <input type="text" name="description" value="" class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-block">
            <input type="text" name="state" value="" readonly class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">路径</label>
        <div class="layui-input-block">
            <input type="text" name="url" value="" required lay-verify="required" class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">基础路径</label>
        <div class="layui-input-block">
            <input type="text" name="baseUrl" value="" readonly class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">图标路径</label>
        <div class="layui-input-block">
            <input type="text" name="favicon.faviconUrl" value="" readonly class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">模糊图标</label>
        <div class="layui-input-block">
            <input type="text" name="favicon.faviconBlurUrl" value="" readonly class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">图标原路径</label>
        <div class="layui-input-block favicon-control">
            <input type="text" name="favicon.faviconOriginalUrl" value="" class="layui-input"/>
            <button type="button" id="set-button">设置</button>
            <button type="button" id="upload-button" onclick="uploadFavicon()">上传</button>
            <input type="file" id="upload-favicon">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <img class="favicon-display" id="faviconUrl" src="" alt="">
            <img class="favicon-display" id="faviconBlurUrl" src="" alt="">
            <img class="favicon-display" id="faviconOriginalUrl" src="" alt="">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">访问数</label>
        <div class="layui-input-block">
            <input type="text" name="visits" value="0" readonly class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">分类</label>
        <div class="layui-input-block">
            <select name="bookmarkCategoryId" lay-verify="required">
                <option value=""></option>
                <option th:each="b,i : ${bookmarkResult.bookmarkCategories}" th:value="${b.bookmarkCategoryId}" th:text="${b.name}"></option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">是否</label>
        <div class="layui-input-block">
            <input type="checkbox" name="delFlag" title="删除" lay-skin="primary" value="1"/>
            <input type="checkbox" name="hiddenFlag" title="隐藏" lay-skin="primary" value="1"/>
            <input type="checkbox" name="isAccessible" title="可访问" lay-skin="primary" value="1"/>
            <input type="checkbox" name="shortcutFlag" title="为快捷方式" lay-skin="primary" value="1"/>
            <input type="checkbox" name="extraNetFlag" title="为外网" lay-skin="primary" value="1"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">创建日期</label>
        <div class="layui-input-block">
            <input type="text" id="createDate" name="createDate" value="" class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button id="commitForm" class="layui-btn" lay-submit lay-filter="form">提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<script src="https://cdn.bootcss.com/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/fastclick/1.0.6/fastclick.js"></script>
<script src="/js/swiper.min.js"></script>
<script src="/layui-v2.5.4/layui.js"></script>
<script th:src="@{/js/nvi-notice.js}"></script>
<script th:src="@{/js/ivu-message.js}"></script>
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/bookmark.js}"></script>
</body>
</html>