<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lrowy.dao.ArticleDao">
    <resultMap id="article" type="com.lrowy.pojo.article.Article">
        <id column="articleId" property="articleId"/>
        <result column="creatorId" property="creatorId"/>
        <result column="articleCategoryId" property="articleCategoryId"/>
        <result column="title" property="title"/>
        <result column="html" property="html"/>
        <result column="markdown" property="markdown"/>
        <result column="description" property="description"/>
        <result column="template" property="template"/>
        <result column="visits" property="visits"/>
        <result column="delFlag" property="delFlag"/>
        <result column="hiddenFlag" property="hiddenFlag"/>
        <result column="createDate" property="createDate"/>
        <result column="updateDate" property="updateDate"/>
        <collection property="tags" ofType="com.lrowy.pojo.article.ArticleTag">
            <id column="articleTagId" property="articleTagId"/>
            <result column="name" property="name"/>
        </collection>
    </resultMap>

    <resultMap id="page" type="com.lrowy.pojo.common.response.BasePagingResponse">
        <result property="totalCount" column="totalCount"/>
        <collection property="result" resultSet="articles" javaType="java.util.List" resultMap="article"/>
    </resultMap>

    <insert id="saveArticle" parameterType="com.lrowy.pojo.article.Article">
        <selectKey keyProperty="articleId" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO article (creatorId,articleCategoryId,title,html,markdown,description,template,visits,delFlag,hiddenFlag,createDate,updateDate) VALUE (#{creatorId},#{articleCategoryId},#{title},#{html},#{markdown},#{description},#{template},#{visits},#{delFlag},#{hiddenFlag},#{createDate},#{updateDate});
    </insert>

    <select id="findArticle" resultMap="article">
        SELECT *
        FROM article
        LEFT JOIN article_tag_r ON article.articleId=article_tag_r.articleId
        LEFT JOIN article_tag ON article_tag_r.articleTagId=article_tag.articleTagId
        WHERE article.articleId=#{articleId};
    </select>

    <select id="findArticleByTags" resultMap="article">
        SELECT article.articleId,article.creatorId,article.title,article.description,article_tag.articleTagId,article_tag.name
        FROM article
        LEFT JOIN article_tag_r ON article.articleId=article_tag_r.articleId
        LEFT JOIN article_tag ON article_tag_r.articleTagId=article_tag.articleTagId
        WHERE article.articleId IN
        (SELECT t.articleId
        FROM
            (SELECT article.articleId
            FROM article
            LEFT JOIN article_tag_r ON article.articleId=article_tag_r.articleId
            LEFT JOIN article_tag ON article_tag_r.articleTagId=article_tag.articleTagId
            <where>
                <foreach collection="tags" item="item" index="index" separator=" OR ">
                    article_tag.articleTagId=#{item}
                </foreach>
            </where>
            GROUP BY article.articleId
            HAVING count(*)>=#{length}
            LIMIT #{offset},#{pageSize})
        t)
        ORDER BY article.articleId;
    </select>

    <select id="findArticleNumByTags" resultType="java.lang.Integer">
        SELECT count(*)
        FROM
            (SELECT article.articleId
            FROM article
            LEFT JOIN article_tag_r ON article.articleId=article_tag_r.articleId
            LEFT JOIN article_tag ON article_tag_r.articleTagId=article_tag.articleTagId
            <where>
                <foreach collection="tags" item="item" index="index" separator=" OR ">
                    article_tag.articleTagId=#{item}
                </foreach>
            </where>
            GROUP BY article.articleId
            HAVING count(*)>=#{length})
        t;
    </select>

    <select id="findAllArticle" resultMap="article">
        SELECT *
        FROM article
        LEFT JOIN article_tag_r ON article.articleId=article_tag_r.articleId
        LEFT JOIN article_tag ON article_tag_r.articleTagId=article_tag.articleTagId;
    </select>

    <update id="updateArticleInfo" parameterType="com.lrowy.pojo.article.Article">
        UPDATE article SET creatorId=#{creatorId},articleCategoryId=#{articleCategoryId},title=#{title},description=#{description},template=#{template},visits=#{visits},delFlag=#{delFlag},hiddenFlag=#{hiddenFlag},createDate=#{createDate}<if test="updateDate != null">,updateDate=#{updateDate}</if> WHERE articleId=#{articleId};
    </update>

    <update id="updateArticleContent" parameterType="com.lrowy.pojo.article.Article">
        UPDATE article SET html=#{html},markdown=#{markdown}<if test="updateDate != null">,updateDate=#{updateDate}</if> WHERE articleId=#{articleId};
    </update>

    <delete id="deleteArticle" parameterType="java.lang.Integer">
        DELETE FROM article WHERE articleId=#{articleId};
    </delete>

    <insert id="addTagWithArticle">
        INSERT INTO article_tag_r (articleId,articleTagId) VALUES
        <foreach collection="tags" item="item" separator=",">
            (#{articleId},#{item})
        </foreach>
    </insert>

    <delete id="deleteTagWithArticle" parameterType="java.lang.Integer">
        DELETE FROM article_tag_r WHERE articleId=#{articleId} AND articleTagId=#{articleTagId};
    </delete>

    <insert id="saveArticleCategory" parameterType="com.lrowy.pojo.article.ArticleCategory">
        <selectKey keyProperty="articleCategoryId" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO article_category (name,imgUrl) VALUE (#{name},#{imgUrl});
    </insert>

    <select id="findAllArticleCategory" resultType="com.lrowy.pojo.article.ArticleCategory">
        SELECT * FROM article_category;
    </select>

    <delete id="deleteArticleCategory" parameterType="java.lang.Integer">
        DELETE FROM article_category WHERE articleCategoryId=#{articleCategoryId};
    </delete>

    <select id="findAllArticleTag" resultType="com.lrowy.pojo.article.ArticleTag">
        SELECT * FROM article_tag;
    </select>
</mapper>