<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lrowy.dao.BookmarkDao">
    <resultMap id="bookmark" type="com.lrowy.pojo.bookmark.Bookmark">
        <id column="bookmarkId" property="bookmarkId"/>
        <result column="bookmarkCategoryId" property="bookmarkCategoryId"/>
        <result column="description" property="description"/>
        <result column="title" property="title"/>
        <result column="url" property="url"/>
        <result column="favicon" property="favicon"/>
        <result column="visits" property="visits"/>
        <result column="delFlag" property="delFlag"/>
        <result column="hiddenFlag" property="hiddenFlag"/>
        <result column="createDate" property="createDate"/>
    </resultMap>

    <insert id="saveBookmark" parameterType="com.lrowy.pojo.bookmark.Bookmark">
        <selectKey keyProperty="bookmarkId" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO bookmark (bookmarkCategoryId,description,title,url,favicon,visits,delFlag,hiddenFlag,createDate) VALUE (#{bookmarkCategoryId},#{description},#{title},#{url},#{favicon},#{visits},#{delFlag},#{hiddenFlag},#{createDate});
    </insert>

    <select id="findBookmark" resultMap="bookmark">
        SELECT *
        FROM bookmark
        ORDER BY bookmark.createDate DESC;
    </select>

    <select id="findBookmarkByBookmarkId" resultMap="bookmark">
        SELECT *
        FROM bookmark
        WHERE bookmark.bookmarkId=#{bookmarkId};
    </select>

    <update id="updateBookmark" parameterType="com.lrowy.pojo.bookmark.Bookmark">
        UPDATE bookmark SET title=#{title},url=#{url},description=#{description},bookmarkCategoryId=#{bookmarkCategoryId} where bookmarkId=#{bookmarkId}
    </update>

    <delete id="deleteBookmark" parameterType="java.lang.Integer">
        DELETE FROM bookmark WHERE bookmarkId=#{bookmarkId};
    </delete>

    <insert id="saveBookmarkCategory" parameterType="com.lrowy.pojo.bookmark.BookmarkCategory">
        <selectKey keyProperty="bookmarkCategoryId" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO bookmark_category (bookmarkCategoryId,name) VALUE (#{bookmarkCategoryId},#{name});
    </insert>

    <select id="findBookmarkCategory" resultType="com.lrowy.pojo.bookmark.BookmarkCategory">
        SELECT * FROM bookmark_category;
    </select>
</mapper>