<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lrowy.dao.UserDao">
    <resultMap id="user" type="com.lrowy.pojo.user.User">
        <id column="userId" property="userId"/>
        <result column="type" property="type"/>
        <result column="name" property="name"/>
        <result column="email" property="email"/>
        <result column="avatar" property="avatar"/>
        <result column="website" property="website"/>
        <result column="password" property="password"/>
        <result column="description" property="description"/>
        <result column="origin" property="origin"/>
        <result column="originId" property="originId"/>
    </resultMap>

    <insert id="saveUser" parameterType="com.lrowy.pojo.user.User">
        <selectKey keyProperty="userId" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO user (userId,type,name,email,avatar,website,password,description,origin,originId) VALUE (#{userId},#{type},#{name},#{email},#{avatar},#{website},#{password},#{description},#{origin},#{originId});
    </insert>

    <select id="findUserByEmail" resultMap="user">
        SELECT * FROM user WHERE email=#{email};
    </select>
</mapper>